@model Common.Core.ViewModels.AttendanceFormViewModel
<div class="card shadow-sm rounded-2">
    <div class="card-header rounded-top bg-dark  text-white text-sm px-3 py-1">
        <div class="text-white text-sm fw-bold">Mark Attendance</div>
    </div>
    <div class="card-body p-3">
        <form method="post" asp-action="Add" id="attendanceForm">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="EmployeeName" />
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Today Date</label>
                    <input asp-for="AttendanceDate" type="date" class="form-control form-control-sm" readonly />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Employee Name</label>
                    <input asp-for="EmployeeName" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Attendance</label>
                <div class="d-flex gap-3">
                    @foreach (var status in new[] { "Present", "Absent", "Half Day", "Leave" })
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="AttendanceStatus" value="@status" checked="@(Model.AttendanceStatus == status)">
                            <label class="form-check-label">@status</label>
                        </div>
                    }

                </div>
                <span asp-validation-for="AttendanceStatus" class="text-danger small"></span>
            </div>

            <div id="leaveSection" class="mt-3" style="display: none;">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Leave Start Date</label>
                        <input type="date" asp-for="StartDate" class="form-control form-control-sm" id="LeaveStartDate" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Leave End Date</label>
                        <input type="date" asp-for="EndDate" class="form-control form-control-sm" id="LeaveEndDate" />
                    </div>
                    <div class="col-md-4">
                        <label asp-for="LeaveType">Leave Type</label>
                        <select asp-for="LeaveType" asp-items="ViewBag.LeaveList" class="form-select form-select-sm">
                            <option value="">-- Select Type --</option>
                        </select>
                        <span asp-validation-for="LeaveType" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Total Days</label>
                        <input type="number" asp-for="TotalDays" class="form-control form-control-sm" id="TotalDays" readonly />
                    </div>
                </div>

                <div class="mt-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Leave</label>
                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="text-sm">Sick: <b>@Model.SickLeaves</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="text-sm">Casual: <b>@Model.CasualLeaves</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="text-sm">Unpaid: <b>@Model.UnpaidLeaves</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="text-sm">Paid: <b>@Model.PaidLeaves</b></p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label class="form-label">Overtime(hours)</label>
                    <input asp-for="TotalOvertimeHours" class="form-control form-control-sm" placeholder="Hours" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Advance/Loan</label>
                    <input asp-for="AdvancePay" class="form-control form-control-sm" placeholder="&#8377; 0.0" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Bonus</label>
                    <input asp-for="Bonus" class="form-control form-control-sm" placeholder="&#8377;  0.0" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Deduction</label>
                    <input asp-for="Deducation" class="form-control form-control-sm" placeholder="&#8377;  0.0" />
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2 pt-3 border-top">
                <button type="submit" class="btn btn-dark btn-sm mb-0">
                    Save
                </button>
                <button type="button" class="btn btn-light btn-sm mb-0" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
        </form>
    </div>
</div>
