@model List<Common.Data.Models.EmployeeModel>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">



<div class="card rounded-2 mt-2">
    <div class="card-body p-2">
        <div class="row">
            <div class="col-md-6 text-start d-flex align-items-center">
                <h6>Employee List</h6>
            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("AddOrUpdate", "Employees")" class="btn btn-success btn-sm  px-3"><i class="fa fa-plus text-sm"></i></a>
            </div>
        </div>

        @if (!Model.Any())
        {
            <p>No employees found.</p>
        }
        else
        {
            <div class="table-responsive" style="border:1px solid #ddd">
                <table id="employee" class="table table-sm table-striped table-hover mb-0 dt-responsive nowrap w-100 small align-middle">
                    <thead class="table-light">
                        <tr>
                            <th class="p-1 ps-2">ID</th>
                            <th class="p-1 ps-2">Name</th>
                            <th class="p-1 ps-2">Email</th>
                            <th class="p-1 ps-2">Contact</th>
                            <th class="p-1 ps-2">Department</th>
                            <th class="p-1 ps-2">Role</th>
                            <th class="p-1 ps-2 text-center">Active</th>
                            <th class="p-1 ps-2 text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                            <tr>
                                <td class="p-1 ps-2">@employee.Id</td>
                                <td class="p-1 ps-2">@employee.Name</td>
                                <td class="p-1 ps-2">@employee.Email</td>
                                <td class="p-1 ps-2">@employee.Contact</td>
                                <td class="p-1 ps-2">@employee.Department</td>
                                <td class="p-1 ps-2">@employee.Role</td>
                                <td class="p-1 ps-2 fw-bold text-center" style="color: @(employee.Active ? "green" : "red")">
                                    <i class="@(employee.Active ? "fa fa-check-circle" : "fa fa-times-circle")"></i>
                                </td>

                                <td class="p-1 ps-2 text-center">
                                    <a href="@Url.Action("AddOrUpdate", "Employees", new { Id = employee.Id })" class="btn btn-success btn-sm mb-0 px-3 py-1"><i class="fa  fa-edit"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-dark btn-sm mb-0 px-3 py-1" onclick="loadDetails(@employee.Id)">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class="offcanvas offcanvas-end modal-sm w-50" tabindex="-1" id="employeeDetailsCanvas" aria-labelledby="employeeDetailsLabel">
    <div class="offcanvas-header">
        <h5 id="employeeDetailsLabel">Employee Details</h5>
        <button type="button" class="btn btn-dark text-white  btn-icon-only" data-bs-dismiss="offcanvas"> <i class="fa fa-close"></i></button>
    </div>
    <div class="offcanvas-body  " id="employeeDetailsContent">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status"></div>
            <p class="mt-2">Loading...</p>
        </div>

    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script>
         $(document).ready(function () {
            $('#employee').DataTable({
                responsive: true,
                paging: true,
                searching: false,
                ordering: false,
                info: true,
                lengthChange: false,
                autoWidth: false
            });
        });
           function loadDetails(id) {
            var offcanvasEl = document.getElementById('employeeDetailsCanvas');
            var offcanvas = new bootstrap.Offcanvas(offcanvasEl);
            $('#employeeDetailsContent').html(`
                <div class="text-center">
                    <div class="spinner-border text-primary" role="status"></div>
                    <p class="mt-2">Loading...</p>
                </div>
            `);
            offcanvas.show();
            $.ajax({
                url: '@Url.Content("~/admin/employees/details/")' + id,
                method: 'GET',
                success: function (response) {
                    $('#employeeDetailsContent').html(response);
                },
                error: function () {
                    $('#employeeDetailsContent').html('<p class="text-danger">Failed to load details.</p>');
                }
            });
        }
    </script>
}