@model IEnumerable<Common.Data.Models.DepartmentMaster>
@{
    ViewData["Title"] = "Department";
}
<div class="card rounded-2 mt-3">
    <div class="card-header rounded-top bg-dark text-white text-sm px-3 py-1 d-flex align-items-center">
        <h6 class="mb-0 text-white text-sm me-auto">
            @ViewData["Title"]
        </h6>
        <button onclick="openLeaveModal(0)" class="btn btn-light btn-sm py-1 rounded-1 px-3 m-0 ms-auto"> <i class="fa fa-plus me-2"></i> Add Department</button>
    </div>
    <div class="table-responsive">
        <table id="attexample" class="table table-sm table-striped table-hover mb-0 dt-responsive nowrap w-100 small align-middle">
            <thead class="table-light">
                <tr>
                    <th class="p-1 ps-2">Id</th>
                    <th class="p-1 ps-2">Name</th>
                    <th class="p-1 ps-2">Description</th>
                    <th class="p-1 ps-2">Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var leave in Model)
                {
                    <tr>
                        <td class="p-1 ps-2">@leave.Id</td>
                        <td class="p-1 ps-2">@leave.Name</td>
                        <td class="p-1 ps-2">@leave.Description</td>
                        <td class="p-1 ps-2">
                            <a href="javascript:void(0);" class="btn btn-dark btn-sm mb-0 px-3 py-1" onclick="openLeaveModal(@leave.Id)">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Details -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="depId" aria-labelledby="depModalContainer">
    <div class="offcanvas-body" id="depModalContainer">
    </div>
</div>

@section Scripts {
    <script>
           $("form").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr("action");
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function(response) {
                    if(response.success){
                        alert(response.message);
                        var offcanvasEl = document.getElementById('attModal');
                        var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasEl);
                        offcanvas.hide();
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function() {
                    alert("Something went wrong");
                }
            });
        });
          function openLeaveModal(id) {
            const offcanvas = new bootstrap.Offcanvas(document.getElementById('depId'));
            $.ajax({
                url: '@Url.Content("~/admin/masterdepartment/saveleavemaster")',
                type: 'GET',
                data: { id: id },
                success: function(result) {
                    $("#depModalContainer").html(result);
                    offcanvas.show();
                },
                error: function() {
                    $("#depModalContainer").html('<p class="text-danger">❌ Failed to load details.</p>');
                }
            });
        }
    </script>
}
